@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}
.navbar{
    height: 88px;
    width: 100%;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(124, 124, 124, 0.349);
    z-index: 100;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-logo{
    max-width: 50px;
}
.nav-logo img{
    width: 100%;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.nav-links .link a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav-links .link a:hover{
    color: rgb(0, 117, 74);
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location-btn{
    margin-right: 1.3rem;
}
.location-btn span{
    padding-right: 8px;
    font-size: 1rem;
}
.location-btn a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.location-btn a:hover{
    color: rgb(0, 117, 74);
}
.sign-in, .join-btn{
    padding: 7px 16px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
}
.sign-in{
    border: 1px solid rgb(31, 31, 31);
    background-color: transparent;
}
.sign-in:hover{
    background-color: #e2e2e2;
}
.join-btn{
    border: none;
    background-color: black;
    color: #fff;
}
.join-btn:hover{
    background-color: rgb(105, 105, 105);
}
.sidebar-btn{
    display: none;
}
.sidebar-btn button{
    color: rgba(0, 0, 0, 0.58);
    font-weight: 500;
    font-size: 1.7rem;
    background-color: #fff;
    border: none;
}
.sidebar {
    position: fixed;
    top: 90px;
    right: -80%; /* Initially hidden off the screen */
    height: 100vh;
    background-color: #fff;
    width: 80%;
    padding: 2rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    transition: right 0.3s ease-in-out; /* Smooth transition */
}
.sidebar-links{
    width: 100%;
    list-style: none;
}
.sidebar-links li{
    padding: 1rem 2rem;
}
.sidebar-links li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.87);
}

.sidebar-buttons{
    margin: 1rem 0;
    border-top: 2px solid rgba(216, 216, 216, 0.507);
    padding: 3rem 2rem;
}
.sidebar-buttons .sign-in{
    margin-right: 1rem;
}
.sidebar-buttons .location-btn{
    margin-top: 1.5rem;
}

.sidebar-buttons
body.sidebar-open {
    overflow: hidden;
}
  
.container-box{
    max-width: 1450px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: space-between;
    background-color: rgb(0, 98, 66);
}
.box-img{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.box-img img{
    width: 100%;
}
.box-text{
    max-width: 450px;
    text-align: center;
    padding: 5rem 0;
    margin: 0 auto;
}
.box-header{
    font-size: 3rem;
    color: #fff;
    line-height: 4rem;
    margin: 2rem 0;
}
 .box-content{
    font-size: 1.5rem;
    color: #fff;
    line-height: 2rem;
}
.btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container-box .btn:hover{
    background-color: rgb(1, 71, 48); ;
}
.grid-reversed .content{
    background-color: rgb(214, 221, 199);
}
.grid-reversed .box-header, 
.grid-reversed .box-content,
.grid-reversed .btn {
    color: rgb(50, 71, 47);
}
.grid-reversed .btn{
    border: 1px solid rgb(50, 71, 47); ;
}
.grid-reversed .btn:hover{
    background-color: rgb(201, 207, 187);
}
.grid-reversed .box-img {
    order: 2;
}
.grid-reversed .box-text {
    order: 1;
}

.third-box .content{
    background-color: rgb(95, 70, 51);
}
.third-box .box-header{
    font-size: 1.5rem;
    font-weight: 600;
}
.third-box .box-content{
    font-size: 1.2rem;
    font-weight: 400;
}
.third-box .btn:hover{
    background-color: rgb(77, 56, 41) ;
}
.divider{
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 223);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.253);
}
.divider-text{
    width: 100%;
    max-width: 646px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.footer-container{
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 1rem 0.8rem;
}
.footer-info{
    display: flex;
    gap: 3rem;
    border-bottom: 2px solid rgba(216, 216, 216, 0.507);
}
.footer-column{
    max-width: 190px;
}
.header{
    font-weight: 400;
    font-size: 1.2rem;
}
.footer-column .footer-links{
    margin: 2rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
}
.footer-links li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.58);
    line-height: 2rem;
    transition: all 0.3s ease;
}

.footer-links li a:hover{
    color:rgba(0, 0, 0, 0.87); 
}
.footer-accordion{
    display: none;
    width: 100%;
    margin: 1rem 0;
}
.accordion-content{
    padding: 1rem 0;
}
.accordion-content:last-child{
    border-bottom: 2px solid rgba(216, 216, 216, 0.507);
}
.accordion-content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-content header i{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.58);
}
.accordion-list{
    display: none;
    margin: 2rem 0;
    list-style: none;
}
.accordion-list .links{
    padding: 1rem 0;
}
.accordion-list .links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.58);
    transition: all 0.3s ease;
}
.socials-link{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.socials-link a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: all 0.3s ease-out;
}
.socials-link a:hover{
    background-color: grey;
    border-radius: 30px;
}
.secondary-links{
    margin-top: 2rem;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.secondary-links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    transition: all 0.3s ease;
    font-weight: 400;
}
.secondary-links a:hover{
    text-decoration: underline;
}

.copyright{
    padding: 2rem 0;
    color:rgba(0, 0, 0, 0.58)
}
@media (max-width: 900px){
    .nav-links, .nav-right{
        display: none;
    }
    .sidebar-btn{
        display: block;
    }
    .sidebar.open {
        right: 0; /* Show the sidebar */
      }
    .content{
        grid-template-columns: 1fr;
    }
    .grid-reversed .box-img {
        order: 0;
    }
    .grid-reversed .box-text {
        order: 1;
    }
}
@media (max-width: 1024px){
    .box-header{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .footer-info{
        display: none;
    }
    .footer-accordion{
        display: block;
    }
}